.container {
  display: flex;
  flex-direction: column;
  gap: calc(var(--padding-between) / 2);
  width: 100%;
}

.topContainer {
  display: flex;
  justify-content: space-between;
}

.labelContainer {
  display: flex;
  gap: calc(var(--padding-between) / 2);
}
.required {
  color: var(--form-required-color);
}

.labelSuffixContainer {
  display: flex;
  align-items: center;
}

.controlContainer {
  display: flex;
  flex-direction: column;
  box-shadow: var(--form-box-shadow);
  border-radius: var(--form-border-radius);
}
.controlContainerFocused {
  box-shadow: var(--form-focused-shadow);
}

.errorContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: calc(var(--padding-between) / 2);
  font-size: var(--font-small-size);
  color: var(--form-error-color);
}
.errorIcon {
  width: calc(var(--font-body-size) * 0.7);
  height: calc(var(--font-body-size) * 0.7);
}
.errorText {
  line-height: 1.4;
}