
.container {
  display: flex;
  align-items: center;
  gap: var(--padding-between);
}

.text {
  font-size: calc(var(--font-body-size) * 0.9);
}

.weak {
  color: rgb(201, 67, 60);
}
.average {
  color: rgb(240, 150, 60);
}
.strong {
  color: rgb(53, 120, 246);
}
.excellent {
  color: rgb(81, 179, 57);
}

.indicatorContainer {
  color: var(--line-gray-color);
  background-color: var(--line-gray-color);
  width: 60px;
  height: 5px;
  border-radius: 3px;
  margin-top: 2px;
  overflow: hidden;
  position: relative;
}
.fill {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 100%;
  background-color: currentColor;
  transition: right 0.2s ease-out;
}
.fill.weak {
  right: 75%;
}
.fill.average {
  right: 50%;
}
.fill.strong {
  right: 25%;
}
.fill.excellent {
  right: 0%;
}