body {
    margin: 0;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

:root {
  --padding-between: 12px;
  --padding-space: 22px;

  --font-h1-color: rgb(28, 28, 28);
  --font-body-color: rgb(87, 87, 87);
  --gray-line-color: rgb(233, 233, 233);
  --active-color: rgb(58, 131, 247);

  --layout-background-color: rgb(248, 250, 255);

  --box-background-color: white;
  --box-border-radius: 8px;
  --box-padding: var(--padding-space);
  --box-box-shadow: rgb(255, 255, 255) 0px 0px 0px 0px,
      rgba(51, 65, 85, 0.1) 0px 0px 0px 1px,
      rgba(0, 0, 0, 0.05) 0px 20px 25px -5px,
      rgba(0, 0, 0, 0.05) 0px 8px 10px -6px;

  --row-padding: 0 0 var(--padding-between);
  --row-gap: var(--padding-between);

  --button-background-color: var(--active-color);
  --button-box-shadow: 0 4px 6px -1px #488aec31,
    0 2px 4px -1px #488aec17;
  --botton-hover-box-shadow: 0 6px 10px -2px #488aec4f,
    0 3px 5px -2px #488aec17;
  --button-border-radius: calc(var(--box-border-radius) - 1px);
  --button-font-size: 22px;
  --button-font-color: white;
  --button-padding: 16px;
}

h1 {
  font-size: 32px;
  font-weight: 600;
  line-height: 2;
  margin: 6px 0 0 0;
  color: var(--font-h1-color);
}
.body {
  font-size: 16px;
  line-height: 1.6;
  color: var(--font-body-color);
}
.center {
  text-align: center;
  align-items: center;
  justify-content: center;
}
a {
  text-decoration: none;
  color: var(--active-color);
  font-weight: 500;
}